@import '../UI/colors.scss';

.new-film {
	&__error {
		width: 100%;
		padding: 0.7em 0;
		margin-top: 1em 0;
		text-align: center;
		font-weight: bold;
		color: $primary-color;
		background-color: $background-darker;
		border-radius: 5px;
	}

    &__submitting{
		width: 100%;
        margin: 2em auto;
        padding: 0.5em;
        border-radius: 5px;
        text-align: center;
        color: white;
		background-color: $background-darker;
    }

	&__fields {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 0.5em;
		&-label {
			display: flex;
			flex-direction: column;
			width: 100%;
			color: white;
			margin: 0.3em 0;

			input {
				margin-top: 0.2em;
				padding: 0.2em 0.4em;
				font-size: 1.5rem;
				background-color: $background-brighter;
				border: 1px solid #999;
				color: white;
				outline: none;

				&:focus {
					outline: 1px solid $secondary-color;
					border: none;
				}
                &::placeholder {
                    color: white;
                }
			}

			input[type='date']::-webkit-calendar-picker-indicator {
				filter: invert(1);
			}
		}

		textarea {
			
			width: 100%;
			min-width: 100%;
			max-height: 100px;
			min-height: 50px;
			font-size: 1.5rem;
			color: white;
			background-color: $background-brighter;
			border: 1px solid #999;
			outline: none;
			
			&:focus {
				outline: 1px solid $secondary-color;
				border: none;
			}
		}
	}

    &__buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        margin: 1em auto;
    }
}

@media (min-width: 768px) {
	.new-film {
		&__error {
			width: 50%;
			margin: 0 auto;
		}

        &__submitting{
            width: 50%;
        }

		&__fields {
			&-label {
				&--half {
					width: 48%;
				}
			}
		}
        &__buttons{
            width: 60%;
        }
	}
}

@media (min-width: 992px) {
	.new-film {
		&__error {
			width: 40%;
		}

        &__submitting{
            font-size: 1.8rem;
            width: 40%;
        }

		&__fields {
			&-label {
				font-size: 1.8rem;

				input {
					font-size: 1.6rem;
				}

			}

			textarea {
				font-size: 1.6rem;
			}
		}
        &__buttons{
            width: 30%;
        }
	}
}
