@import '../UI/colors.scss';
.change-input {
    input {
        padding: 0.2em 0.4em;
        margin-bottom: 0.5em;
        font-size: 1.5rem;
        background-color: $background-brighter;
        border: 1px solid #999;
        color: white;
        outline: none;
        

        &:focus {
            outline: 1px solid $secondary-color;
            border: none;
        }
        &::placeholder {
            color: white;
        }
    }

    &__buttons {
        margin-bottom: 0.5em;

        &-btn-save, &-btn-cancel{
            font-size: 1.3rem;
        }

        &-btn-save{
            margin-right: 0.8em;
        }
    }
}