@import '../UI/colors.scss';

.cinema-seats {
	margin-top: 0.5em;
	&__title {
		margin-bottom: 0.5em;
		color: $secondary-color;
	}

    &__selected, &__total-sum{
        margin-bottom: 0.4em;
        font-weight: bold;
    }

	&__box {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-gap: 10px;

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 60px;
			background-color: green;
			color: white;
			border-radius: 5px;
			transition: background-color 0.3s, transform 0.3s;
			cursor: pointer;

			&:hover {
				background-color: $secondary-color;
				transform: scale(0.9);
			}

			&.selected {
				background-color: $secondary-color;
                transform: scale(0.9);
			}

            &.occupied{
                background-color: $primary-color;
                transform: scale(0.9);
                cursor: default;
            }

			&-value {
				margin-top: 5px;
			}
		}
	}
}

@media (min-width: 768px) {
	.cinema-seats {
		font-size: 1.7rem;

		&__title {
			color: $secondary-color;
		}
	}
}

@media (min-width: 992px) {
	.cinema-seats {
		font-size: 1.8rem;
	}
}
