@import '../UI/colors.scss';

.selected-film {
	padding: 1em;
	margin: 1em 0.5em;
	color: white;
	font-weight: lighter;

	&__title {
		margin: 0.5em 0;
		color: $secondary-color;
	}
}

@media (min-width: 768px) {
	.selected-film {
        font-size: 1.7rem;

		&__title {
			margin: 0.5em 0;
			color: $secondary-color;
		}
	}
}

@media (min-width: 992px) {
	.selected-film {
        font-size: 1.8rem;
		padding: 1em 0;

        &__box{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            &-title, &-time{
                margin-right: 2em;
            }
            
        }
	}
}
