@import '../colors.scss';

.repertoire {
	padding: 2em;

	&__items {
		margin-top: 1em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.slick-dots li button:before {
	color: white;
}

.slick-dots li.slick-active button:before {
    color: $primary-color;
}
