@import '../UI/colors.scss';

.repertoire {
	padding: 2em;

	&__items {
		margin-top: 2em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__link{
		margin-top: 2.5em;
		font-size: 1.7rem;
		text-align: center;
		color: white;
		
		a{
			text-decoration: none;
			font-weight: bold;
			color:$secondary-color;
			cursor: pointer;
		}
	}
}

.slick-dots li button:before {
	color: white;
}

.slick-dots li.slick-active button:before {
    color: $primary-color;
}

@media (min-width:576px) {
	.repertoire{
		padding: 2em 1em;
	}
}
