.ticket-area {
	padding: 1em;
    

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 0 0.7em;
		margin-bottom: 5em;
	}
}

@media (min-width: 992px) {
	.ticket-area{
        padding: 0;
    }
}
