@import '../colors.scss';

.button {
	padding: 0.5em 1em;
	text-align: center;
    font-size: 1.6rem;
	border-radius: 3px;
    border: none;
	color: white;
	background-color: $primary-color;

	&:hover {
		cursor: pointer;
	}
}

@media (min-width:768px) {
    .button{
        font-size: 1.7rem;
    }
    
}
