$black: black;
$background-darker: #1a1a1a;
$background-brighter:#424242;
$primary-color: #b82227;
$primary-color-darker: #97171c;
$secondary-color: #cfb53b;

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
